#devices.wrapper {
	display: grid;
	grid-template-columns: 205px 1fr;
}

.wrapper {
	min-height: 100vh;
}

.navigation {
	width: 100%;
	background: var(--bg-panel);
}

.device-orientation-container {
	position: fixed;
	left: 0px;
	width: 205px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #aeaeae;
	height: 100%;
	box-shadow: 0px 1px 3px 1px #00000024;
	z-index: 1000;
	background-color: var(--bg-panel);
	padding-top: 45px;
	transition: 800ms;
}

.device-orientation-btns-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.navigation-title {
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	color: #243b55;
}

.navigation-option {
	position: relative;
	cursor: pointer;
	font-size: 26px;
	padding: 6px 8px;
	border-radius: 5px;
	text-align: center;
}

.project-holder {
	display: flex;
	position: relative;
	justify-content: center;
	background: #dedede;
	height: 100%;
	align-items: center;
	min-height: 100%;
	border-left: 1px solid #dadada;
}

#device-project-container {
	transition: 1190ms;
	box-sizing: border-box;
	overflow: hidden;
}

/* ------DEVICE CONTAINERS___Start------ */

.desktop-container {
	position: relative;
	height: 100%;
	width: 100%;
	background: #ffffff;
	background: #ffffff;
	border-width: 0;
	border-radius: 0;
	border-color: black;
	border-style: solid;
}

.ipad-container {
	position: relative;
	width: 800px;
	height: 530px;
	border: 20px solid black;
	border-radius: 35px;
	background: #ffffff;
}

.iphone-container {
	position: relative;
	width: 320px;
	height: 630px;
	border: 10px solid black;
	border-radius: 35px;
	background: #ffffff;
	overflow: hidden;
}

.iphone-container::after {
	content: '';
	position: absolute;
	bottom: 14px;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 8px;
	border: none;
	border-radius: 25px;
	background: #00000018;
}

.iphone-container::before {
	content: '';
	position: absolute;
	left: 50%;
	width: 150px;
	height: 18px;
	transform: translateX(-50%);
	border: none;
	border-bottom-left-radius: 19px;
	border-bottom-right-radius: 19px;
	background: #000000;
	z-index: 1000;
}

.ipad-container::after {
	content: '';
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	height: 150px;
	width: 8px;
	border: none;
	border-radius: 25px;
	background: #00000018;
	z-index: 1000;
}
/* ------DEVICE CONTAINERS___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------SHARED & MISC__Start------ */

/* ---Logic--- */
.navigation-option--active,
.navigation-option:hover {
	background: #0000000d;
}

.project-holder::-webkit-scrollbar {
	width: 1px;
	z-index: 10000000;
}

.placeholder {
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #aeaeaeb4;
}

.placeholder-icon {
	font-size: 48px;
}

.placeholder-text {
	margin-top: 10px;
	font-size: 24px;
}

.placeholder-text-desc {
	font-size: .9em;
	margin-top: 10px;
	max-width: 600px;
	line-height: 1.5em;
}

.nav-project-toggle-container {
	border-bottom: 2px solid #dedede;
	padding-bottom: 30px;
}

.nav-project-toggle-container span {
	margin-left: 10px;
}

#open.nav-project-toggle-container {
	position: fixed;
	bottom: 20px;
	left: 20px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	font-size: 20px;
	border-radius: 50%;
	color: #243b55;
	background-color: white;
	box-shadow: 0 1px 3px 2px #35353540;
	transition: 800ms;
	cursor: pointer;
	z-index: 2000000;
}

#open.nav-project-toggle-container:hover {
	color: white;
	background-color: #243b55;
}

.project-nav--closed {
	transform: translateX(-205px);
}

.open-nav--closed {
	transform: translateX(105px);
}

/* ------DEVICE CONTAINERS___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------MEDIA QUERIES___Start------ */

@media only screen and (max-width: 1100px) {
	.project-screen-cont--tablet {
		width: 100%;
		height: 660px;
	}

	.project-screen-cont--tablet::after {
		content: '';
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translate(-50%, 0);
		height: 10px;
		width: 140px;
		background-color: rgba(15, 15, 15, 0.315);
		border-radius: 50px;
	}
	#devices.wrapper {
		display: grid;
		grid-template-columns: 0 1fr;
	}

	.project-btn {
		margin-top: 35px;
	}
}

/* ------MEDIA QUERIES___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------ANIMATIONS___Start------ */

.fade-in {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.fade-out {
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	from {
		/* transform: translateY(-750px); */
		opacity: 0;
	}

	to {
		/* transform: translateY(0px); */
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(750px);
	}
}

/* ------ANIMATIONS___End------ */
/* *****************END***************** */
