* {
  margin: 0;
  padding: 0;
}

.bg {
  position: absolute;
  width: 100%;
  height: 80vh;
  background: #e0eafc;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#cfdef3), to(#e0eafc));
  background: linear-gradient(to right, #cfdef3, #e0eafc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 61%, 0 98%);
          clip-path: polygon(0 0, 100% 0, 100% 61%, 0 98%);
  top: 0;
  z-index: -1;
}

.intro-header {
  padding: 35px 0 45px 0;
  text-align: center;
}

.intro-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3em;
  font-family: var(--h1);
}

.intro-header .description {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 10px;
}

.range-slider-wrapper,
.competitor-wrapper,
.card-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.competitor-commission-amt span {
  font-weight: bold;
  /* color: #0c4e7e; */
  padding: 6px 10px;
  margin: 0 3px;
  display: inline-block;
  min-width: 51px;
  line-height: 1.5em;
}

.range-widget-container {
  height: initial;
  max-width: 1000px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.range-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.range-title {
  font-size: 1.2em;
}

.range-slider-wrapper {
  width: 48%;
  margin-bottom: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.companies-table-title h3 {
  font-size: 0.8em;
  font-weight: bold;
}

.companies-table-title,
.competitor-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.1fr 1.3fr 0.8fr;
      grid-template-columns: 1fr 1.1fr 1.3fr 0.8fr;
  padding: 10px 0;
}

.competitor-wrapper {
  width: 100%;
}

.competitor-container span {
  padding: 5px 0;
  font-size: 1em;
  text-align: left;
}

.competitor-container:nth-of-type(odd) {
  background: #f3f3f3;
}

.list-of-competitors {
  background-color: white;
  width: 100%;
}

.competitor-company-commission-wrapper {
  width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.competitor-company {
  min-width: 85px;
  text-align: right;
}

.competitor-red {
  color: #b10500;
}

.competitor-green {
  color: #639b17;
}

.companies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.competitor-wrapper {
  width: 100%;
  /* display: flex; */
  position: relative;
}

#device-project-container[data-theme='iphone-container'] .competitor-container {
  font-size: 13px;
}

#device-project-container[data-theme='iphone-container'] .companies-table-title,
#device-project-container[data-theme='iphone-container'] .competitor-container {
  -ms-grid-columns: 1.2fr 0.9fr 1.1fr 0.8fr;
      grid-template-columns: 1.2fr 0.9fr 1.1fr 0.8fr;
}

#device-project-container[data-theme='iphone-container'] .competitor-company-commission-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#device-project-container[data-theme='iphone-container'] .range-slider-wrapper {
  width: 100%;
}

#device-project-container[data-theme='iphone-container'] .companies-table-title h3 {
  font-size: 0.7em;
}

#device-project-container[data-theme='iphone-container'] .range-title {
  font-size: 1em;
}

#device-project-container[data-theme='iphone-container'] .intro-header h1 {
  font-size: 1.8em;
}

#device-project-container[data-theme='iphone-container'] .intro-header .description {
  font-size: 1em;
  line-height: 1.5em;
}

@media only screen and (max-width: 900px) {
  .competitor-container {
    font-size: 13px;
  }
  .companies-table-title,
  .competitor-container {
    -ms-grid-columns: 1.2fr 0.9fr 1.1fr 0.8fr;
        grid-template-columns: 1.2fr 0.9fr 1.1fr 0.8fr;
  }
  .competitor-company-commission-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .range-slider-wrapper {
    width: 100%;
  }
  .companies-table-title h3 {
    font-size: 0.7em;
  }
  .range-title {
    font-size: 1em;
  }
  .intro-header h1 {
    font-size: 1.8em;
  }
  .intro-header .description {
    font-size: 1em;
    line-height: 1.5em;
  }
}
/*# sourceMappingURL=priceCalcMain.css.map */