.counter-cont {
 display: flex;
 flex-direction: column;
 width: 100%;
 max-width: 400px;
 margin: 20px;
}

.counter-body-cont {
 display: flex;
 flex-direction: column;
 text-align: center;
 background: white;
 padding: 20px 0;
}

.counter-btn-cont {
 display: flex;
 /* flex-direction: column; */
}


.counter-btn-cont button {
 padding: 15px 18px;
 background-color: #1276bb;
 width: 200px;
 border: none;
 cursor: pointer;
 color: white;
 transition: 350ms;
}

.counter-btn-cont button:hover {
 background: #1b88d1;
}