.search-bar {
	color: white;
	/* text-align: center; */
	display: flex;
	align-items: center;
	/* transition: 800ms ease; */
	position: relative;
}

#town-search-bar {
	background: none;
	border: none;
	color: white;
	width: 100%;
	/* padding: 7px 0; */
}

.search-bar__icon {
	/* margin-right: -25px; */
	/* font-size: 18px; */
}

input#town-search-bar {
	outline: none;
	text-transform: capitalize;
	padding: 10px;
	font-family: var(--body);
	/* padding-left: 35px; */
	/* border-radius: 2px; */
}

input#town-search-bar::placeholder {
	color: #ffffff;
}

input#town-search-bar:focus {
	/* border-bottom: 1px solid #ffffff !important; */
	background: none;
	outline: none;
}

input#town-search-bar:focus + span {
	color: #f1f3f5;
	transform: translateY(18px) scale(0.9);
}

input#town-search-bar:focus + span + .border {
	transform: scaleX(1);
}
