.app-link {
	font-size: 16px;
	padding: 28px 25px;
	cursor: pointer;
	text-decoration: none;
	color: var(--color-text);
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: 300ms;
	transition: 300ms;
}

.app-link:hover {
	color: var(--color-icon);
}

#github-icon {
	font-size: 24px;
	color: var(--color-text);
	cursor: pointer;
	-webkit-transition: 300ms;
	transition: 300ms;
}
#github-icon:hover {
	font-size: 24px;
	color: var(--color-icon);
}

/* juryrig to fix icon size on routes*/
.github-icon svg {
	width: 1em;
}

@-webkit-keyframes slideDown {
	from {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
		opacity: 0;
	}

	to {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
		opacity: 0;
	}

	to {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
}

@media only screen and (max-width: 1100px) {
	.app-link {
		opacity: 0;
	}

	.app-link:nth-child(1) {
		-webkit-animation: slideDown 1000ms ease-in-out forwards;
		animation: slideDown 1000ms ease-in-out forwards;
		-webkit-animation-delay: 550ms;
		animation-delay: 550ms;
	}

	.app-link:nth-child(2) {
		-webkit-animation: slideDown 1000ms ease-in-out forwards;
		animation: slideDown 1000ms ease-in-out forwards;
		-webkit-animation-delay: 400ms;
		animation-delay: 400ms;
	}

	.app-link:nth-child(3) {
		-webkit-animation: slideDown 1000ms ease-in-out forwards;
		animation: slideDown 1000ms ease-in-out forwards;
		-webkit-animation-delay: 250ms;
		animation-delay: 250ms;
	}

	.app-link:nth-child(4) {
		-webkit-animation: slideDown 1000ms ease-in-out forwards;
		animation: slideDown 1000ms ease-in-out forwards;
		-webkit-animation-delay: 100ms;
		animation-delay: 100ms;
	}

	.app-link:nth-child(5) {
		-webkit-animation: slideDown 1000ms ease-in-out forwards;
		animation: slideDown 1000ms ease-in-out forwards;
		-webkit-animation-delay: 60ms;
		animation-delay: 60ms;
	}
}
