* {
	margin: 0;
	padding: 0;
}

.bg {
	position: absolute;
	width: 100%;
	height: 60vh;
	background: #e0eafc; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#cfdef3,
		#e0eafc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	clip-path: polygon(0 0, 100% 0, 100% 61%, 0 98%);
	top: 0;
	z-index: -1;
}
body {
	background: #edf2f5;
}
.intro-headers {
	padding: 35px 0 45px 0;
	text-align: center;
}
.intro-headers h1 {
	display: flex;
	flex-direction: column;
	font-size: 3em;
	font-family: var(--h1);
}
.intro-desc {
	font-size: 1.2em;
	/* color: #565758cc; */
	margin-top: 10px;
}
.range-slider-wrapper,
.competitor-wrapper,
.card-container {
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	padding: 16px;
}
.competitor-commission-amt span {
	font-weight: bold; /* color: #0c4e7e; */
	padding: 6px 10px;
	margin: 0 3px;
	display: inline-block;
	min-width: 51px;
	line-height: 1.5em;
}
.range-widget-container {
	height: initial;
	max-width: 1000px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.range-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}
.range-slider-wrapper {
	width: 48%;
	margin-bottom: 35px;
	box-sizing: border-box;
	border-radius: 4px;
}
.companies-table-title #company,
.companies-table-title #commission,
.companies-table-title #pay,
.companies-table-title #ordereze {
	font-size: 1em;
	font-weight: 500; /* transform: rotate(15deg); */
}
.companies-table-title,
.competitor-container {
	display: grid;
	grid-template-columns: 1fr 1.1fr 1.3fr 0.8fr;
	padding: 10px;
}
#company,
.competitor-container span:nth-child(1) {
	text-align: left;
}
#commission,
.competitor-container span:nth-child(2) {
	text-align: left;
}
#pay,
.competitor-container span:nth-child(3) {
	text-align: left;
}
#ordereze,
.competitor-container span:nth-child(4) {
	text-align: left;
}
#chownow-competitor::after {
	content: '(Annual Contract)';
	font-size: 14px;
	margin-left: 5px;
}
.range-slider {
	width: 100%;
	padding: 0px 10px;
	box-sizing: border-box;
}
.competitor-wrapper {
	width: 100%;
}
.competitor-container:last-child {
	border-bottom: none;
}
.competitor-container:nth-of-type(odd) {
	background: rgb(243, 243, 243);
}
.list-of-competitors {
	background-color: white;
	width: 100%;
}
.competitor-company-commission-wrapper {
	width: 530px;
	display: flex;
	align-items: center;
	width: 100%;
}
.competitor-price-amt,
.competitor-company {
	font-size: 1em; /* font-weight: bold; */
	/* background: white; */
}
.competitor-price-amt {
	padding: 5px;
	/* font-size: 16px; */
}
.competitor-company {
	padding: 5px;
	min-width: 85px; /* margin: 0 40px 0 0; */
	text-align: right;
}
.competitor-red {
	color: #b10500;
}
.competitor-red {
	color: #b10500;
}
.competitor-green {
	color: #639b17;
}
@media only screen and (max-width: 900px) {
	.competitor-container {
		flex-direction: column;
		padding: 20px 0px;
		font-size: 14px;
	}
	.competitor-price-amt,
	.competitor-company {
		font-size: 14px; /* font-weight: 400; */ /* background: white; */
	}
	.companies-table-title h3 {
		font-size: 0.9em !important;
		font-weight: 500; /* transform: rotate(-26deg); */
	}
	.competitor-company-commission-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.competitor-company {
		padding: 5px;
		margin: 0;
	}
	.range-container {
		display: flex;
		flex-direction: column;
	}
	.range-slider-wrapper {
		width: 100%;
	}
	.competitor-commission-amt {
		/* padding: 10px 0;
		text-align: center;
		line-height: 2.5em; */
	}
}
canvas {
	width: 50%;
}
.companies {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	box-sizing: border-box;
}
.competitor-wrapper {
	width: 100%; /* display: flex; */
	position: relative;
}
