@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

#welcome {
	background: linear-gradient(
		to right,
		rgba(250, 250, 250, 1) 0%,
		rgba(255, 255, 255, 1) 41%,
		rgba(242, 242, 242, 1) 77%,
		rgba(254, 254, 254, 1) 100%
	);
	padding-top: 100px;
	height: 100%;
	min-height: 600px;
	position: relative;
	overflow: hidden;
}

.home-img h1 {
	font-size: 3.4em;
	font-family: 'Archivo Narrow', sans-serif;
}

.home-img span {
	font-size: 1.3em;
	line-height: 1.5em;
	padding: 10px 25px;
}

.home-img button {
	font-size: 1.2em;
	padding: 20px 26px;
	background: linear-gradient(to right, #f5af1900, #f119110000);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s ease-out;
	border: 1px solid white;
	border-radius: 2px;
	color: white;
	margin-top: 40px;
	cursor: pointer;
	transition: 1s;
}

.home-img button:hover {
	/* background: linear-gradient(to right, #f5af19 34%, #f11911 65%); */
	/* background-size: 300% 100%; */
	background-position: left bottom;
}

.home-img button svg {
	margin-left: 8px;
}

.home-img {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-direction: column;
	background: linear-gradient(270deg, #2ab893, #572ab8);
	background-size: 400% 400%;
	-webkit-animation: bgFlow 20s ease infinite;
	-moz-animation: bgFlow 20s ease infinite;
	animation: bgFlow 20s ease infinite;
	text-align: center;
}

@-webkit-keyframes bgFlow {
	0% {
		background-position: 11% 0%;
	}
	50% {
		background-position: 90% 100%;
	}
	100% {
		background-position: 11% 0%;
	}
}
@-moz-keyframes bgFlow {
	0% {
		background-position: 11% 0%;
	}
	50% {
		background-position: 90% 100%;
	}
	100% {
		background-position: 11% 0%;
	}
}
@keyframes bgFlow {
	0% {
		background-position: 11% 0%;
	}
	50% {
		background-position: 90% 100%;
	}
	100% {
		background-position: 11% 0%;
	}
}
