.project-btn {
	text-align: center;
	transition: transform 250ms;
	cursor: pointer;
	display: flex;
	font-size: 12px;
	align-items: center;
	text-decoration: none;
	color: inherit;
	padding: 20px 25px;
	width: 100%;
	font-weight: bold;
}
.project-btn svg {
	/* color: #243b55d1; */
	/* color: var(--color-icon); */
	animation: Gradient 2s ease infinite;
	font-size: 16px;
}

.project-btn:hover,
.project-is-active {
	background-color: var(--color-darker-gray);
	color: var(--color-icon);
}

.project-btn-icon {
	width: 55px;
}

.project-btn-text {
	width: 100%;
	text-align: left;
	position: relative;
}

.coming-soon {
	position: absolute;
	font-size: 10px;
	opacity: 0.8;
	bottom: -14px;
	left: 0;
}

.nav-project-holder {
	color: var(--color-text);
	opacity: 0.7;
	overflow-y: auto;
}

/* .project-is-active {
	-webkit-transform: scale(1.1) !important;
	transform: scale(1.1) !important;
	color: #f5a434;
} */

@media only screen and (max-width: 1100px) {
	.desktop-only-icon {
		opacity: 0.6;
		cursor: unset;
	}

	.desktop-only-icon:after {
		content: '';
		width: 4px;
		height: 41px;
		position: absolute;
		background-color: #a5a4a4c2;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		border-radius: 4px;
	}

	/* .project-btn-container {
		margin-top: 75px;
	} */
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
