html {
	--priceCalcSliderGreen: #078a7a;
}

html[data-theme='dark'] {
	--priceCalcSliderGreen: #66cdc1;
}

.range-title {
	font-size: 1.2em;
	line-height: 1.5em;
}

.upper-portion {
	padding-bottom: 15px;
}

.dynamic-number-value {
	color: var(--priceCalcSliderGreen);
	margin: 0px 6px;
	border-bottom: 1px solid var(--priceCalcSliderGreen);
	padding: 0px 6px 2px 6px;
}

.range-slider__range {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: #d7dcdf;
	outline: none;
	padding: 0;
	margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
	transition: background 0.15s ease-in-out;
	box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.09);
}

.range-slider__range::-webkit-slider-thumb:hover {
	background: #f1f1f1;
}

.box-minmax-key {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}
