.grillMarx-container {
	.header {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 10px 20px;
		z-index: 10;
		img {
			width: 250px;
		}
		.nav-links-container {
			color: white;
			font-size: 15px;
			.nav-link {
				padding: 0 10px;
			}
		}
		.nav-sub-link-container {
			display: none;
		}
	}

	.section1 {
		.image-bg {
			position: relative;
		}

		.image-bg img {
			width: 100%;
		}

		.content-area {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			width: 90%;
			color: white;
			text-shadow: 0px 0px 12px black;
		}
	}
}
