@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Oswald:400,700|Roboto&display=swap');

.grillMarx-container {
	p {
		font-family: 'Roboto', sans-serif;
		line-height: 2em;
	}

	h1 {
		font-family: 'EB Garamond', serif;
		font-size: 36px;
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 28px;
	}
	h3 {
		font-family: 'EB Garamond', serif;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 15px;
	}
	height: 100%;

	.website-body {
		// height: 100%;
	}
	.header {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 10px 20px;
		z-index: 10;
		img {
			width: 250px;
		}
		.nav-links-container {
			position: relative;
			display: flex;
			color: white;
			font-size: 15px;
			transition: 550ms all ease-in-out;
			// background-color: black;
			// left: -20%;
			// transform: translateX(-50%);
			.nav-link {
				font-family: 'Oswald', sans-serif;
				padding: 0 10px;
			}
		}
		.nav-sub-link-container {
			display: none;
		}

		.mobile-nav-btn {
			display: none;
			flex-direction: column;
			height: 15px;
			width: 20px;
			justify-content: space-between;
			cursor: pointer;
			span {
				background: white;
				height: 2px;
				border-radius: 30px;
				width: 100%;
			}
		}
	}

	#section1 {
		background: url('./images/s1_background.jpg');
		background-position: center;
		background-size: cover;
		height: 84vh;
		position: relative;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.414);
			position: absolute;
			z-index: 0;
		}
		.content-area {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			width: 90%;
			color: white;
			text-shadow: 0px 0px 12px black;

			.text-box-container h1 {
				max-width: 800px;
				margin: 0 auto;
			}
		}
	}

	#section2 {
		padding: 80px 8%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;

		h2 {
			font-size: 36px;
		}

		p {
			margin-top: 15px;
		}

		.social-media-container {
			display: flex;
			margin: 15px 0;
			.social-media-icon {
				color: white;
				background-color: #bf1e2e;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				// border: 1px solid;
				border-radius: 50%;
				margin: 0 10px;
			}
		}
	}

	.three-image-container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5px;

		img {
			width: 100%;
			height: 350px;
			object-fit: cover;
		}
	}

	#section4 {
		background-color: #333;
		color: white;
		// display: flex;
		grid-template-columns: 3fr 4fr;
		.content-area {
			flex-direction: column;
			text-align: center;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.title {
				margin-bottom: 15px;
				font-size: 36px;
			}

			.day-wrapper {
				margin-top: 15px;
				.day-title {
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}

		.happy-hour-container {
			margin-top: 30px;
		}
	}
	#section5 {
		background-color: rgb(240, 240, 240);
		color: rgb(17, 17, 17);
		// display: flex;
		grid-template-columns: 4fr 3fr;
		.content-area {
			flex-direction: column;
			text-align: center;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 500px;
			margin: 0 auto;

			.title {
				margin-bottom: 15px;
				font-size: 36px;
			}

			.day-wrapper {
				margin-top: 15px;
				.day-title {
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}
	}

	#section6 {
		padding: 8% 0;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		width: 100%;
		background: #333;
		h2 {
			color: white;
			margin-bottom: 30px;
		}

		.restaurant-location-container {
			grid-template-columns: 1fr 1fr 1fr;
			.location-container {
				background-color: #fff;
				max-width: 300px;
				margin: 0 auto;
				padding: 10px;
				img {
					width: 100%;
				}
			}
		}
	}

	#footer {
		background-color: #333;
		color: white;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 30px;

		#social-media-container {
			display: flex;
			margin: 0 auto;
		}
		.social-media-icon {
			border: 1px solid white;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			margin: 0 12px;
		}

		#mailing-list-container {
			margin: 30px 0;
			.mailing-list__title-container {
				margin-bottom: 10px;
				.icon {
					margin-right: 0px;
				}
				text-align: center;
				span {
					margin: 0 10px;
				}
			}
			input {
				padding: 11px;
				width: 200px;
				border: none;
				border-radius: 2px;
				&::placeholder {
					color: #3e3d3da7;
				}
			}
			button {
				border: none;
				padding: 12px 20px;
				border-radius: 2px;
				background-color: #bf1e2e;
				color: white;
				margin-left: 8px;
			}
		}

		.nav-links-container {
			display: flex;
			justify-content: space-between;
			width: 100%;
			flex-wrap: wrap;
			// max-width: 900px;
		}

		span {
			margin: 10px;
			cursor: pointer;
		}
	}

	//Shared
	.title--red {
		color: #bf1e2e;
	}

	.offset-container {
		// display: grid;
		img {
			width: 100%;
		}
	}

	.grid {
		display: grid;
	}

	.footer-row {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-direction: column;
		align-items: center;
		// margin-bottom: 10px;
		flex-wrap: wrap;
		// max-width: 900px;
	}

	.mobile-nav-link-position {
		// display: flex !important;
		opacity: 1 !important;
		position: absolute;
		// left: 50% !important;
		width: inherit;
		transform: translateX(0%) !important;
	}
}

// ----------------- device media query -------------------

#device-project-container[data-theme='iphone-container'] {
	.grillMarx-container {
		.header {
			background: black;
			display: flex;
			align-items: center;
			padding: 15px;
			// flex-direction: column;
		}
		.three-image-container,
		.offset-container,
		.restaurant-location-container,
		#map-container__locations {
			grid-template-columns: 1fr;
		}
		.content-area {
			padding: 12% 5%;
		}
		.location-container {
			margin-bottom: 30px;
		}
		.grid {
			grid-template-columns: 1fr !important;
		}
		h1 {
			font-size: 24px;
		}
		.logo-container img {
			width: 90px;
		}

		.nav-links-container {
			position: absolute;
			flex-direction: column;
			align-items: center;
			right: 0;
			// left: -30%;
			transform: translateX(-100%);
			background-color: black;
			height: 550px;
			display: flex;
			width: 100%;
			justify-content: space-around;
		}
		.mobile-nav-btn {
			display: flex;
		}
	}
}
