@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Oswald:400,700|Roboto&display=swap");
.grillMarx-container {
  height: 100%;
}

.grillMarx-container p {
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
}

.grillMarx-container h1 {
  font-family: 'EB Garamond', serif;
  font-size: 36px;
}

.grillMarx-container h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
}

.grillMarx-container h3 {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.grillMarx-container .header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  z-index: 10;
}

.grillMarx-container .header img {
  width: 250px;
}

.grillMarx-container .header .nav-links-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 15px;
  -webkit-transition: 550ms all ease-in-out;
  transition: 550ms all ease-in-out;
}

.grillMarx-container .header .nav-links-container .nav-link {
  font-family: 'Oswald', sans-serif;
  padding: 0 10px;
}

.grillMarx-container .header .nav-sub-link-container {
  display: none;
}

.grillMarx-container .header .mobile-nav-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15px;
  width: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.grillMarx-container .header .mobile-nav-btn span {
  background: white;
  height: 2px;
  border-radius: 30px;
  width: 100%;
}

.grillMarx-container #section1 {
  background: url("./images/s1_background.jpg");
  background-position: center;
  background-size: cover;
  height: 84vh;
  position: relative;
}

.grillMarx-container #section1:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.414);
  position: absolute;
  z-index: 0;
}

.grillMarx-container #section1 .content-area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  color: white;
  text-shadow: 0px 0px 12px black;
}

.grillMarx-container #section1 .content-area .text-box-container h1 {
  max-width: 800px;
  margin: 0 auto;
}

.grillMarx-container #section2 {
  padding: 80px 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.grillMarx-container #section2 h2 {
  font-size: 36px;
}

.grillMarx-container #section2 p {
  margin-top: 15px;
}

.grillMarx-container #section2 .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

.grillMarx-container #section2 .social-media-container .social-media-icon {
  color: white;
  background-color: #bf1e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.grillMarx-container .three-image-container {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.grillMarx-container .three-image-container img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grillMarx-container #section4 {
  background-color: #333;
  color: white;
  -ms-grid-columns: 3fr 4fr;
      grid-template-columns: 3fr 4fr;
}

.grillMarx-container #section4 .content-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grillMarx-container #section4 .content-area .title {
  margin-bottom: 15px;
  font-size: 36px;
}

.grillMarx-container #section4 .content-area .day-wrapper {
  margin-top: 15px;
}

.grillMarx-container #section4 .content-area .day-wrapper .day-title {
  font-weight: 400;
  text-transform: uppercase;
}

.grillMarx-container #section4 .happy-hour-container {
  margin-top: 30px;
}

.grillMarx-container #section5 {
  background-color: #f0f0f0;
  color: #111111;
  -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
}

.grillMarx-container #section5 .content-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.grillMarx-container #section5 .content-area .title {
  margin-bottom: 15px;
  font-size: 36px;
}

.grillMarx-container #section5 .content-area .day-wrapper {
  margin-top: 15px;
}

.grillMarx-container #section5 .content-area .day-wrapper .day-title {
  font-weight: 400;
  text-transform: uppercase;
}

.grillMarx-container #section6 {
  padding: 8% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #333;
}

.grillMarx-container #section6 h2 {
  color: white;
  margin-bottom: 30px;
}

.grillMarx-container #section6 .restaurant-location-container {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grillMarx-container #section6 .restaurant-location-container .location-container {
  background-color: #fff;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.grillMarx-container #section6 .restaurant-location-container .location-container img {
  width: 100%;
}

.grillMarx-container #footer {
  background-color: #333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

.grillMarx-container #footer #social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.grillMarx-container #footer .social-media-icon {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 0 12px;
}

.grillMarx-container #footer #mailing-list-container {
  margin: 30px 0;
}

.grillMarx-container #footer #mailing-list-container .mailing-list__title-container {
  margin-bottom: 10px;
  text-align: center;
}

.grillMarx-container #footer #mailing-list-container .mailing-list__title-container .icon {
  margin-right: 0px;
}

.grillMarx-container #footer #mailing-list-container .mailing-list__title-container span {
  margin: 0 10px;
}

.grillMarx-container #footer #mailing-list-container input {
  padding: 11px;
  width: 200px;
  border: none;
  border-radius: 2px;
}

.grillMarx-container #footer #mailing-list-container input::-webkit-input-placeholder {
  color: #3e3d3da7;
}

.grillMarx-container #footer #mailing-list-container input:-ms-input-placeholder {
  color: #3e3d3da7;
}

.grillMarx-container #footer #mailing-list-container input::-ms-input-placeholder {
  color: #3e3d3da7;
}

.grillMarx-container #footer #mailing-list-container input::placeholder {
  color: #3e3d3da7;
}

.grillMarx-container #footer #mailing-list-container button {
  border: none;
  padding: 12px 20px;
  border-radius: 2px;
  background-color: #bf1e2e;
  color: white;
  margin-left: 8px;
}

.grillMarx-container #footer .nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grillMarx-container #footer span {
  margin: 10px;
  cursor: pointer;
}

.grillMarx-container #footer span:after {
  content: '';
  background-color: white;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  right: 0;
}

.grillMarx-container .title--red {
  color: #bf1e2e;
}

.grillMarx-container .offset-container img {
  width: 100%;
}

.grillMarx-container .grid {
  display: -ms-grid;
  display: grid;
}

.grillMarx-container .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grillMarx-container .mobile-nav-link-position {
  opacity: 1 !important;
  position: absolute;
  width: inherit;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .header {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .three-image-container,
#device-project-container[data-theme='iphone-container'] .grillMarx-container .offset-container,
#device-project-container[data-theme='iphone-container'] .grillMarx-container .restaurant-location-container,
#device-project-container[data-theme='iphone-container'] .grillMarx-container #map-container__locations {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .content-area {
  padding: 12% 5%;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .location-container {
  margin-bottom: 30px;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .grid {
  -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container h1 {
  font-size: 24px;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .logo-container img {
  width: 90px;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .nav-links-container {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: black;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#device-project-container[data-theme='iphone-container'] .grillMarx-container .mobile-nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=websiteGrillMarx.css.map */