.website-card-container {
	padding-bottom: 60px;
	border-bottom: 1px solid #d8d8d8;
}

.project-holder {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50% !important;
	left: 50% !important;
	width: 0%;
	max-width: 1100px;
	height: 92%;
	max-height: 840px;
	overflow-y: scroll;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	transition: 600ms;
	z-index: 11111111;
}

.project-holder-modal {
	width: 80% !important;
	max-height: 800px;
	// box-shadow: 1px 1px 6px 9px #00000021;
}

.device-project-browser-header {
	display: flex;
	width: 100%;
	font-size: 14px;
	align-items: center;
	background: linear-gradient(0, #d1d1d1, #f1f1f1);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px solid #c2c2c2;
	transition: 1190ms;
	padding: 10px;
}

.three-btn-container {
	margin-right: 10px;

	.btn-circle {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
	}

	.close {
		background-color: #ff6054;
		border: 1px solid #f15956;
	}
	.middle {
		background-color: #fbbf07;
		border: 1px solid #eabc26;
	}
	.expand {
		background-color: #17cb38;
		border: 1px solid #2bbb53;
	}
}

.url-box {
	width: 100%;

	border: 1px solid #c2c2c2;

	background-color: rgb(255, 255, 255);
	padding: 6px 15px;
	/* box-shadow: 0 1px 0.5px 0 #c2c2c2; */
}

.modal-close-button-container {
	display: flex;
	align-items: center;
}

.modal-close-button__button {
	color: #353738;
	padding-left: 15px;
	padding-right: 5px;
	font-size: 20px;
	cursor: pointer;
	border-left: 1px solid rgb(175, 175, 175);
}

#device-project-container {
	-webkit-transition: 1190ms;
	transition: 1190ms;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
}

#device-project-container::-webkit-scrollbar {
	display: none;
}

.device-project-browser-footer {
	transition: 1190ms;
	display: flex;
	width: 100%;
	align-items: center;
	background: linear-gradient(0, #d1d1d1, #f1f1f1);
	border-top: 1px solid #c2c2c2;
	font-size: 14px;
	/* position: absolute; */
	bottom: -1px;
	justify-content: center;
	padding: 3px 0;
}

// <-- interior body section -->

#open.nav-project-toggle-container {
	position: fixed;
	bottom: 75px;
	right: 20px;
	width: 60px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--whiteToBlack);
	background: var(--color-icon);
	-webkit-transition: 700ms;
	transition: 700ms ease-in-out;
	cursor: pointer;
	z-index: 200;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 2px 1px #00000026;
	box-shadow: 0px 1px 2px 1px #00000026;
}

#open.nav-project-toggle-container:hover {
	color: white;
	/* background-color: #243b55; */
}

#open span {
	font-size: 10px;
}

#close.nav-project-toggle-container {
	position: absolute;
	left: 0px;
	top: 52px;
	font-size: 25px;
	padding: 11px;
	color: var(--color-text);
}

.nav-project-toggle-container span {
	margin-top: 3px;
}

// .project-nav--closed {
// 	-webkit-transform: translateX(205px);
// 	transform: translateX(205px);
// }

.open-nav--closed {
	right: -150px !important;
}

.project-card-container {
	width: 100%;
	/* background: var(--white1ToBlack1); */
}

.project-title-container {
	padding: 50px 0 40px;
	// text-align: center;
	color: rgb(68, 68, 68);
	.title {
		font-size: 24px;
		text-transform: uppercase;
	}
	.description {
		padding-top: 5px;
		font-size: 16px;
		color: rgba(68, 68, 68, .85);
		// max-width: 700px;
		// margin: 0 auto;
	}
}

.nav-project-holder {
	color: var(--color-text);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}

.navigation-option {
	position: relative;
	cursor: pointer;
	font-size: 16px;
	padding: 6px;
	border-radius: 2px;
	color: var(--color-text);
	margin: 0 5px;
}

.device_switcher-container {
	display: flex;
	color: white;

	margin: 0 10px;
	z-index: 99999999999999999;
}

.desktop-container {
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--whiteToBlack);
	border-width: 0;
	border-radius: 0;
	border-color: black;
	border-style: solid;
	/* padding-top: 21px; */
}

.iphone-container {
	position: relative;
	width: 365px;
	height: 600px;
	border: 2px solid #e6e6e6;
	/* border-radius: 35px; */
	background: #ffffff;
	font-size: 14px;
	overflow: hidden;
}

.project-screen-cont {
	height: 100%;
}
.project-screen-cont > div:first-child {
	animation-name: fadeIn;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

.navigation-option--active {
	background: var(--color-icon);
	color: var(--white1ToBlack1);
}

.project-holder::-webkit-scrollbar {
	width: 1px;
	z-index: 10000000;
}

// -------KEEP----------------------------------------------------------------------------------------------
// -------KEEP----------------------------------------------------------------------------------------------
// -------KEEP----------------------------------------------------------------------------------------------
// -------KEEP----------------------------------------------------------------------------------------------

/* ------MEDIA QUERIES___Start------ */
@media only screen and (max-width: 1100px) {
	.nav-project-holder {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 800px) {
	.device_switcher-container {
		display: none;
	}
	.project-holder-modal {
		width: 98.5% !important;
		height: 84%;
		margin-top: -20px;
	}

	.project-screen-cont--tablet {
		width: 100%;
		height: 660px;
	}

	.desktop-container {
		font-size: 16px;
		padding-top: 0 !important;
	}

	.project-holder {
		padding-top: 50px;
	}
	.nav-project-holder {
		grid-template-columns: 1fr;
	}
}

//ANIMTATIONS

.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.fade-out {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
	from {
		/* transform: translateY(-750px); */
		opacity: 0;
	}

	to {
		/* transform: translateY(0px); */
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		/* transform: translateY(-750px); */
		opacity: 0;
	}

	to {
		/* transform: translateY(0px); */
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translateY(750px);
		transform: translateY(750px);
	}
}

@keyframes fadeOut {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translateY(750px);
		transform: translateY(750px);
	}
}

@keyframes sideNavOpen {
	0% {
		transform: skewX(29deg);
	}

	50% {
	}

	100% {
		transform: skewX(29deg);
	}
}

/* ------ANIMATIONS___End------ */
/* *****************END***************** */
