#devices.wrapper {
	display: grid;
	grid-template-columns: 205px 1fr;
}

.wrapper {
	min-height: 100vh;
}

.navigation {
	width: 100%;
	background: var(--bg-panel);
}

.device-orientation-container {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 205px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #aeaeae;
	height: 100%;
	-webkit-box-shadow: 0px 1px 3px 1px #00000024;
	box-shadow: 0px 1px 3px 1px #00000024;
	z-index: 1000;
	background-color: var(--bg-panel);
	padding-top: 100px;
	-webkit-transition: 800ms;
	transition: 800ms;
}

.device-orientation-btns-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
	padding-top: 20px;
}

.navigation-title {
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	color: #243b55;
}

.navigation-option {
	position: relative;
	cursor: pointer;
	font-size: 26px;
	padding: 6px 8px;
	border-radius: 5px;
	text-align: center;
}

.project-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #dedede;
	height: 100vh;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 80px;
	/* min-height: 100%;
	margin-top: 40px; */
}

.project-holder[data-device='desktop-container'] {
	height: initial;
}

#device-project-container {
	-webkit-transition: 1190ms;
	transition: 1190ms;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

/* ------DEVICE CONTAINERS___Start------ */

.desktop-container {
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--bg);
	border-width: 0;
	border-radius: 0;
	border-color: black;
	border-style: solid;
	padding-top: 20px;
}

.ipad-container {
	position: relative;
	width: 800px;
	height: 530px;
	border: 20px solid black;
	border-radius: 35px;
	background: #ffffff;
}

.iphone-container {
	position: relative;
	width: 320px;
	height: 630px;
	border: 10px solid black;
	border-radius: 35px;
	background: #ffffff;
	overflow: hidden;
}

.iphone-container::after {
	content: '';
	position: absolute;
	bottom: 14px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 150px;
	height: 8px;
	border: none;
	border-radius: 25px;
	background: #00000018;
}

.iphone-container::before {
	content: '';
	position: absolute;
	left: 50%;
	width: 150px;
	height: 18px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border: none;
	border-bottom-left-radius: 19px;
	border-bottom-right-radius: 19px;
	background: #000000;
	z-index: 1000;
}

.ipad-container::after {
	content: '';
	position: absolute;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 150px;
	width: 8px;
	border: none;
	border-radius: 25px;
	background: #00000018;
	z-index: 1000;
}
/* ------DEVICE CONTAINERS___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------SHARED & MISC__Start------ */

/* ---Logic--- */
.navigation-option--active {
	background: var(--color-icon);
	color: var(--bg-panel);
}

.project-holder::-webkit-scrollbar {
	width: 1px;
	z-index: 10000000;
}

.placeholder {
	text-align: center;
	height: 70%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #aeaeaeb4;
}

.placeholder-icon {
	font-size: 48px;
	color: var(--bg-panel-lite);
}

.placeholder-text {
	margin-top: 10px;
	font-size: 24px;
	color: var(--color-text);
}

.placeholder-text-desc {
	font-size: 1em;
	color: var(--color-text);
	margin-top: 10px;
	max-width: 600px;
	line-height: 1.5em;
	padding: 0 14px;
	opacity: .65;
}

.ipad-container .placeholder-text,
.iphone-container .placeholder-text {
	color: #333333 !important;
}

.ipad-container .placeholder-text-desc,
.iphone-container .placeholder-text-desc {
	color: #333333 !important;
}

#close.nav-project-toggle-container {
	position: absolute;
	right: 0px;
	top: 65px;
	font-size: 25px;
	padding: 11px;
	transition: 1200ms;
}

.nav-project-toggle-container span {
	margin-top: 3px;
}

/* .nav-project-toggle-container svg {
	position: absolute;
	left: 15px;
} */

#open.nav-project-toggle-container {
	position: fixed;
	bottom: 75px;
	right: 20px;
	width: 60px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--bg);
	background: var(--color-icon);
	-webkit-transition: 1200ms;
	transition: 1300ms ease-in-out;
	cursor: pointer;
	z-index: 200;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 2px 1px #00000026;
	box-shadow: 0px 1px 2px 1px #00000026;
}

#open.nav-project-toggle-container:hover {
	color: white;
	/* background-color: #243b55; */
}

#open span {
	font-size: 10px;
}

.project-nav--closed {
	-webkit-transform: translateX(-205px);
	transform: translateX(-205px);
}

.open-nav--closed {
	width: 300px !important;
	height: 100% !important;
	/* color: var(--color-orange) !important; */
	/* background-color: var(--bg-panel) !important; */
	right: 100% !important;
}

/* ------DEVICE CONTAINERS___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------MEDIA QUERIES___Start------ */

@media only screen and (max-width: 1100px) {
	.project-screen-cont--tablet {
		width: 100%;
		height: 660px;
	}

	.project-screen-cont--tablet::after {
		content: '';
		position: absolute;
		bottom: 15px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		height: 10px;
		width: 140px;
		background-color: rgba(15, 15, 15, 0.315);
		border-radius: 50px;
	}
	#devices.wrapper {
		display: grid;
		grid-template-columns: 0 1fr;
	}

	.project-btn {
		margin-top: 35px;
	}

	.project-holder {
		padding-top: 50px;
	}
}

/* ------MEDIA QUERIES___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------ANIMATIONS___Start------ */

.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.fade-out {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
	from {
		/* transform: translateY(-750px); */
		opacity: 0;
	}

	to {
		/* transform: translateY(0px); */
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		/* transform: translateY(-750px); */
		opacity: 0;
	}

	to {
		/* transform: translateY(0px); */
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translateY(750px);
		transform: translateY(750px);
	}
}

@keyframes fadeOut {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translateY(750px);
		transform: translateY(750px);
	}
}

@keyframes sideNavOpen {
	0% {
		transform: skewX(29deg);
	}

	50% {
	}

	100% {
		transform: skewX(29deg);
	}
}

/* ------ANIMATIONS___End------ */
/* *****************END***************** */
