/* #devices.wrapper {
	display: grid;
	grid-template-columns: 205px 1fr;
	position: relative;
} */

.wrapper {
	min-height: 100vh;
}

.project-card-container {
	width: 100%;
	/* background: var(--white1ToBlack1); */
}

.device-orientation-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	/* height: 100vh; */
	padding-top: var(--headerheight);
}

.navigation-title {
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	color: #243b55;
}

.navigation-option {
	position: relative;
	cursor: pointer;
	font-size: 16px;
	padding: 6px;
	border-radius: 2px;
	color: var(--color-text);
	margin: 0 5px;
}

.project-holder-modal {
	width: 80% !important;
}

.project-holder {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50% !important;
	left: 50% !important;
	width: 0%;
	max-width: 1100px;
	height: 100vh;
	max-height: 92%;
	overflow-y: scroll;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	transition: 600ms;
	z-index: 11111111;
}

/* .project-holder[data-device='desktop-container'] {
	height: initial;
} */

.device-project-browser-header {
	display: flex;
	width: 100%;
	font-size: 14px;
	align-items: center;
	background: linear-gradient(0, #d1d1d1, #f1f1f1);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 1px solid #c2c2c2;
	transition: 1190ms;
}

.device-project-browser-footer {
	transition: 1190ms;
	display: flex;
	width: 100%;
	align-items: center;
	background: linear-gradient(0, #d1d1d1, #f1f1f1);
	border-top: 1px solid #c2c2c2;
	font-size: 14px;
	/* position: absolute; */
	bottom: -1px;
	justify-content: center;
	padding: 3px 0;
}

.three-btn-container {
	display: flex;
	margin: 0 10px;
}

.btn-circle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 20px 5px;
	cursor: pointer;
}

.close {
	background-color: #ff6054;
	border: 1px solid #f15956;
}
.middle {
	background-color: #fbbf07;
	border: 1px solid #eabc26;
}
.expand {
	background-color: #17cb38;
	border: 1px solid #2bbb53;
}

.url-box {
	width: 100%;

	border: 1px solid #c2c2c2;

	background-color: rgb(255, 255, 255);
	padding: 6px 15px;
	/* box-shadow: 0 1px 0.5px 0 #c2c2c2; */
}

.modal-close-button-container {
	display: flex;
	align-items: center;
}

.modal-close-button__button {
	color: #353738;
	padding: 0 20px;
	font-size: 20px;
	cursor: pointer;
	border-left: 1px solid rgb(175, 175, 175);
}

.device_switcher-container {
	display: flex;
	color: white;

	margin: 0 10px;
	z-index: 99999999999999999;
}

#device-project-container {
	-webkit-transition: 1190ms;
	transition: 1190ms;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
}

#device-project-container::-webkit-scrollbar {
	display: none;
}

/* ------DEVICE CONTAINERS___Start------ */

.desktop-container {
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--whiteToBlack);
	border-width: 0;
	border-radius: 0;
	border-color: black;
	border-style: solid;
	/* padding-top: 21px; */
}

.ipad-container {
	position: relative;
	width: 800px;
	height: 530px;
	border: 20px solid #2c2b2b;
	border-radius: 35px;
	/* background: #ffffff; */
}

.iphone-container {
	position: relative;
	width: 365px;
	height: 600px;
	border: 2px solid #e6e6e6;
	/* border-radius: 35px; */
	background: #ffffff;
	font-size: 14px;
	overflow: hidden;
}

/* .iphone-container::after {
	content: '';
	position: absolute;
	bottom: 14px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 150px;
	height: 8px;
	border: none;
	border-radius: 25px;
	background: #00000018;
} */

/* .iphone-container::before {
	content: '';
	position: absolute;
	left: 50%;
	width: 150px;
	height: 18px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border: none;
	border-bottom-left-radius: 19px;
	border-bottom-right-radius: 19px;
	background: #000000;
	z-index: 1000;
} */

.ipad-container::after {
	content: '';
	position: absolute;
	right: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 150px;
	width: 8px;
	border: none;
	border-radius: 25px;
	background: #00000018;
	z-index: 1000;
}
/* ------DEVICE CONTAINERS___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------SHARED & MISC__Start------ */

/* ---Logic--- */
.navigation-option--active {
	background: var(--color-icon);
	color: var(--white1ToBlack1);
}

.project-holder::-webkit-scrollbar {
	width: 1px;
	z-index: 10000000;
}

.placeholder {
	text-align: center;
	height: 70%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #aeaeaeb4;
}

.placeholder-icon {
	font-size: 48px;
	color: var(--color-text);
	opacity: 0.35;
}

.placeholder-text {
	margin-top: 10px;
	font-size: 24px;
	color: var(--color-text);
}

.placeholder-text-desc {
	font-size: 1em;
	color: var(--color-text);
	margin-top: 10px;
	max-width: 600px;
	line-height: 1.5em;
	padding: 0 14px;
	opacity: 0.65;
}
.project-screen-cont {
	height: 100%;
}
.project-screen-cont > div:first-child {
	animation-name: fadeIn;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

#close.nav-project-toggle-container {
	position: absolute;
	left: 0px;
	top: 52px;
	font-size: 25px;
	padding: 11px;
	color: var(--color-text);
}

.nav-project-toggle-container span {
	margin-top: 3px;
}

/* .nav-project-toggle-container svg {
	position: absolute;
	left: 15px;
} */

#open.nav-project-toggle-container {
	position: fixed;
	bottom: 75px;
	right: 20px;
	width: 60px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--whiteToBlack);
	background: var(--color-icon);
	-webkit-transition: 700ms;
	transition: 700ms ease-in-out;
	cursor: pointer;
	z-index: 200;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 2px 1px #00000026;
	box-shadow: 0px 1px 2px 1px #00000026;
}

#open.nav-project-toggle-container:hover {
	color: white;
	/* background-color: #243b55; */
}

#open span {
	font-size: 10px;
}

.project-nav--closed {
	-webkit-transform: translateX(205px);
	transform: translateX(205px);
}

.open-nav--closed {
	right: -150px !important;
}

/* ------DEVICE CONTAINERS___End------ */
/* .................................................... */
/* .................................................... */
/* .................................................... */
/* ------MEDIA QUERIES___Start------ */

@media only screen and (max-width: 800px) {
	.device_switcher-container {
		display: none;
	}
	.project-holder-modal {
		width: 98.5% !important;
	}

	.project-screen-cont--tablet {
		width: 100%;
		height: 660px;
	}

	.project-screen-cont--tablet::after {
		content: '';
		position: absolute;
		bottom: 15px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		height: 10px;
		width: 140px;
		background-color: rgba(15, 15, 15, 0.315);
		border-radius: 50px;
	}
	/* #devices.wrapper {
		display: grid;
		grid-template-columns: 0 1fr;
	} */

	.desktop-container {
		font-size: 16px;
		padding-top: 0 !important;
	}

	.project-holder {
		padding-top: 50px;
	}

	.device-orientation-container {
		left: unset;
		right: 0px;
	}
}

.fade-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.fade-out {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
	from {
		/* transform: translateY(-750px); */
		opacity: 0;
	}

	to {
		/* transform: translateY(0px); */
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		/* transform: translateY(-750px); */
		opacity: 0;
	}

	to {
		/* transform: translateY(0px); */
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translateY(750px);
		transform: translateY(750px);
	}
}

@keyframes fadeOut {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		-webkit-transform: translateY(750px);
		transform: translateY(750px);
	}
}

@keyframes sideNavOpen {
	0% {
		transform: skewX(29deg);
	}

	50% {
	}

	100% {
		transform: skewX(29deg);
	}
}

/* ------ANIMATIONS___End------ */
/* *****************END***************** */
