.project-btn {
	text-align: center;
	transition: transform 250ms;
	cursor: pointer;
	margin-top: 45px;
	display: flex;
	font-size: 14px;
	align-items: center;
	text-decoration: none;
	color: inherit;
	color: #243b55d1;
	font-weight: 600;
}
/* .project-btn {
	text-align: center;
	transition: transform 250ms;
	cursor: pointer;
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: inherit;
} */

.project-btn:hover,
.project-btn-active {
	transform: scale(1.1);
	color: orange;
}

.project-btn-text {
	margin-left: 10px;
	/* width: 160px; */
	width: 100%;
	text-align: left;
}

.project-btn svg {
	font-size: 16px;
}

.project-is-active {
	transform: scale(1.1) !important;
	color: #f5a434;
}

@media only screen and (max-width: 1100px) {
	.project-btn {
		/* margin-top: 15px; */
	}

	.desktop-only-icon {
		opacity: .6;
		cursor: unset;
	}

	.desktop-only-icon:after {
		content: '';
		width: 4px;
		height: 41px;
		position: absolute;
		background-color: #a5a4a4c2;
		transform: rotate(45deg);
		transform-origin: top;
		border-radius: 4px;
	}

	/* .project-btn-container {
		margin-top: 75px;
	} */
}
