@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


#welcome {
 background: linear-gradient(to right, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 41%, rgba(242, 242, 242, 1) 77%, rgba(254, 254, 254, 1) 100%);
 padding-top: 100px;
 height: 100%;
 min-height: 600px;
 position: relative;
 overflow: hidden;
}

.counters {
 display: flex;
}

.home-img {
 position: relative;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url('https://image.freepik.com/free-photo/developing-programmer-development-website-design-coding-technologies_18497-1022.jpg')
}


.home-img::after {
 background: linear-gradient(to right, rgba(36, 59, 85, 0.7), rgba(20, 30, 48, 0.7));
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.bottom-curve {
 position: absolute;
 bottom: -1px;
 left: 0;
}

.whiteboard-container,
.canvas-container {
 position: absolute;
 width: 85%;
 top: 0;
 left: 0;
}

.canvas-container {
 z-index: 1000;
}

.eraser,
#marker {
 z-index: 100000000;
 position: absolute;
 width: 200px;
 cursor: pointer;
}

.eraser {
 right: 230px;
 bottom: 0;
}

#marker {
 bottom: 0;
 right: 30px;
}



.whiteboard-container {
 height: 90%;
 background: url('../../images/whiteboardTop.svg');
 background-size: cover;
 background-position: bottom;
 background-position-x: right;
 color: rgb(26, 25, 25);
 box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.301);
 font-family: 'Permanent Marker', cursive;
}

@media only screen and (max-width: 1100px) {
 .whiteboard-container {
  position: absolute;
  width: 90%;
 }



 .whiteboard-text {
  padding: 0 50px;
  margin-top: 50px;
 }

 .whiteboard-text .quote {
  font-size: 2em;
 }

 .quote-authors {
  font-size: 17px;
 }

 .whiteboard-container .quote {
  /* font-size: 2.1rem !important; */
  text-align: center;
  line-height: 1.7em;
 }
}

.whiteboard-container::after {
 content: url('../../images/whiteboardBar.svg');
 position: absolute;
 bottom: -25px;
 width: 103%;
 left: 0;
}



.whiteboard-container .content {
 position: relative;
 height: 100%;
}

.whiteboard-img {
 width: 100%;
 z-index: 0;
}


.whiteboard-text .quote {
 font-size: 2.5em;
}

.quote-authors {
 font-size: 24px;
}

/* 
.whiteboard-container span {
 font-size: 2.7rem;
 text-align: center;
} */


.whiteboard-text {
 max-width: 650px;
 position: relative;
}


.quote-authors-container {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}




.quote-authors span:nth-child(2) {
 margin-top: 50px;
}

.quote-authors span:nth-child(3) {
 margin-top: 120px;
 font-size: 30px;
 font-weight: bold;
}



@keyframes comet {
 from {
  right: 0;
  opacity: 0;
 }

 to {
  right: 500px;
  top: 500px;
  opacity: 1;
 }
}

/* @media only screen and (max-width: 1500px) {
 .whiteboard-container {
  width: 100%;
  height: 100%;
 }

 .quote-authors {
  flex-direction: column;
 }
} */