@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
	--websiteH1: 'Montserrat', sans-serif;
}

html {
	--websiteBlueToWhite: #0c4e7e;
	--websiteLightGrayToBlack: #fcfcfc;
	--websiteWhiteToBlack: rgb(233, 233, 233);
	--websiteBlackToWhite: #222222;
}

html[data-theme='dark'] {
	--websiteBlueToWhite: #4e7ea1;
	--websiteLightGrayToBlack: #0f0e0e;
	--websiteWhiteToBlack: rgb(41, 41, 41);
	--websiteBlackToWhite: white;
}
// <--ROOT
.website-project-container {
	position: relative;
	height: 100%;
	font-size: 16px;
	line-height: 24px;
	color: var(--websiteBlackToWhite);
	p {
		font-size: 18px;
		line-height: 1.6em;
	}
	h1 {
		font-family: var(--websiteH1);
		line-height: 1.4;
	}

	h2 {
		font-weight: bold;
		font-size: 28px;
		color: var(--websiteBlueToWhite);
		font-family: var(--websiteH1);
		line-height: 1.4;
		margin-bottom: 15px;
	}
	section,
	#footer {
		padding: 70px 5%;
	}
	span {
		line-height: 1.4;
	}

	button,
	.link {
		transition: 300ms;
		cursor: pointer;
	}

	button {
		background-color: #6eab1f;
		padding: 12px 18px;
		border: none;
		border-radius: 2px;
		color: white;
		font-size: 16px;
		padding: 20px 30px;
		width: fit-content;
		&:hover {
			background-color: #6eab1fd7;
		}
	}

	#footer {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #033857;
		color: #ffffff;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		h3 {
			margin-bottom: 5px;
		}

		ul {
			padding-bottom: 15px;
		}

		li {
			padding-left: 10px;
			list-style: none;
			font-size: 14px;
			line-height: 26px;
			cursor: pointer;
			transition: 250ms;
			&:hover {
				color: rgba(255, 255, 255, 0.75);
			}
		}

		.social-media-icon-container {
			display: flex;
			flex-direction: row;
			.social-media-icon {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid white;
				margin: 10px;
				transition: 150ms;
				cursor: pointer;
				&:hover {
					background-color: var(--websiteWhiteToBlack);
					color: var(--websiteBlueToWhite);
				}
			}
		}
	}
}
// END ROOT -->

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	padding: 12px 18px;
	height: 100px;
	z-index: 50;

	.nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1300px;
		width: 100%;
	}

	.nav-link-container {
		padding-top: 10px;
	}

	.link {
		margin: 0 0 0 40px;
	}

	.link:hover {
		color: rgba(255, 255, 255, 0.85);
	}

	img {
		height: 50px;
	}
	.mobile-nav-icon-btn {
		color: white;
		display: none;
		cursor: pointer;
	}

	button {
		padding: 15px !important;
		&:hover {
			color: white !important;
		}
	}
}

#section1 {
	position: relative;
	width: 100%;
	min-height: 88vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('https://digitalmarketing.blob.core.windows.net/8981/images/items/image565981.jpg');
	background-position: center;
	background-size: cover;
	color: white;
	text-align: center;

	.text-content-area {
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			font-size: 68px;
		}

		.sub-heading {
			color: white;
			font-family: var(--h2);
			font-size: 28px;
		}

		button {
			margin-top: 30px;
		}
	}
	svg {
		position: absolute;
		bottom: -1px;
		fill: var(--websiteLightGrayToBlack);
		filter: drop-shadow(0px -9px 5px rgba(0, 20, 4, 0.25));
		width: 100%;
		transition: 1190ms !important;
	}
}

#section2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;

	h2 {
		margin-top: 10px;
	}
	img {
		width: 100%;
		margin-top: 30px;
	}
	.text-content-area {
		max-width: 900px;
		span {
			line-height: 1.4;
			color: gray;
			font-size: 18px;
		}
	}
}

#section3 {
	background: url('../images/chefCuttingFood.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 150px 0;
	clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
	h2 {
		color: white !important;
	}
	.icon-container-wrapper {
		display: flex;
		justify-content: space-around;
		margin-top: 45px;
		.icon-container {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			svg {
				font-size: 36px;
			}

			.text {
				margin-top: 15px;
				font-size: 16px;
			}
		}
	}
}

#section4,
#section6 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	img {
		width: 100%;
		height: initial;
		background-size: cover;
	}

	.verbiage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 530px;
		margin: 0 auto;
		.list-container {
			margin-top: 30px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			.list-item {
				display: flex;
				margin-top: 15px;

				.icon {
					width: 15px;
					margin-right: 13px;
					text-align: center;
				}
			}
		}
	}
}

#section5 {
	background: url('../images/texturedGeometricBackgroundjpg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	min-height: 650px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);

	.quote {
		font-size: 24px;
		line-height: 1.5em;
	}
	button {
		margin-top: 30px;
	}
}

#section7 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--websiteWhiteToBlack);
	text-align: center;
	button {
		margin-top: 30px;
	}
}

// ----------------- device media query -------------------
#device-project-container[data-theme='ipad-container'],
#device-project-container[data-theme='iphone-container'] {
	.website-project-container {
		section {
			.list-item {
				font-size: 13px;
				text-align: center;
			}
		}

		nav {
			.nav-link-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				transition: 600ms;
				background-color: white;
				color: #333;
				width: 100%;
				position: absolute;
				left: 0;
				padding: 40px 0px;
				z-index: -1;
				position: absolute;
				top: 0;
				transform: translateY(-100%);
			}

			img {
				height: 45px;
			}

			.link {
				margin: 55px 0 0 0;
				&:hover {
					color: rgba(0, 0, 0, 0.65);
				}
			}

			.mobile-nav-icon-btn {
				font-size: 28px;
				display: block !important;
			}
		}

		#section1 {
			min-height: 570px;
			.text-content-area {
				display: flex;
				flex-direction: column;
				align-items: center;
				h1 {
					font-size: 36px;
				}

				.sub-heading {
					color: white;
					font-family: var(--h2);
					font-size: 20px;
				}
			}
		}

		#section3 {
			.text {
				font-size: 13px !important;
			}
		}

		#section4 {
			grid-template-columns: 1fr;
			.verbiage {
				margin-top: 30px;
			}
		}

		#section5 {
			min-height: 650px;
			padding-top: 30px;
			padding-bottom: 30px;
			.quote {
				font-size: 16px;
				line-height: 2em;
			}
		}
		#section6 {
			grid-template-columns: 1fr;
			.verbiage {
				margin-bottom: 30px;
				.list-container {
					grid-template-columns: 1fr;
				}
			}
		}

		#footer {
			grid-template-columns: 1.1fr 0.9fr;
			li {
				padding-left: 0;
				font-size: 13px;
			}
			.social-media-icon-container {
				flex-wrap: wrap;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.website-project-container {
		section {
			.list-item {
				font-size: 13px;
				text-align: center;
			}
		}

		nav {
			.nav-link-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				transition: 600ms;
				background-color: white;
				color: #333;
				width: 100%;
				position: absolute;
				left: 0;
				padding: 80px 0px;
				z-index: -1;
				position: absolute;
				top: 0;
				transform: translateY(-100%);
			}

			img {
				height: 45px;
			}

			.link {
				margin: 55px 0 0 0;
			}

			.mobile-nav-icon-btn {
				font-size: 28px;
				display: block !important;
			}
		}

		#section1 {
			min-height: 570px;
			.text-content-area {
				display: flex;
				flex-direction: column;
				align-items: center;
				h1 {
					font-size: 36px;
				}

				.sub-heading {
					color: white;
					font-family: var(--h2);
					font-size: 20px;
				}
			}
		}

		#section3 {
			.text {
				font-size: 13px !important;
			}
		}

		#section4 {
			grid-template-columns: 1fr;
			.verbiage {
				margin-top: 30px;
			}
		}

		#section5 {
			min-height: 550px;
			padding-top: 30px;
			padding-bottom: 30px;
			.quote {
				font-size: 16px;
				line-height: 2em;
			}
		}
		#section6 {
			grid-template-columns: 1fr;
			.verbiage {
				margin-bottom: 30px;
				.list-container {
					grid-template-columns: 1fr;
				}
			}
		}

		#footer {
			grid-template-columns: 1.1fr 0.9fr;
			li {
				padding-left: 0;
				font-size: 13px;
			}
			.social-media-icon-container {
				flex-wrap: wrap;
			}
		}
	}
}

.website-mobile-nav--closed {
	transform: translateY(0%) !important;
}

.website-mobile-nav--open {
	// transform: translateY(290px) !important;
	// transform: translateY(290px) !important;
}
