@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
:root {
  --websiteH1: 'Montserrat', sans-serif;
}

html {
  --websiteBlueToWhite: #0c4e7e;
  --websiteLightGrayToBlack: #fcfcfc;
  --websiteWhiteToBlack: white;
  --websiteBlackToWhite: #222222;
}

html[data-theme='dark'] {
  --websiteBlueToWhite: #4e7ea1;
  --websiteLightGrayToBlack: #0f0e0e;
  --websiteWhiteToBlack: rgb(20, 20, 20);
  --websiteBlackToWhite: white;
}

.website-project-container {
  position: relative;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--websiteBlackToWhite);
}

.website-project-container p {
  font-size: 18px;
  line-height: 1.6em;
}

.website-project-container h1 {
  font-family: var(--websiteH1);
  line-height: 1.4;
}

.website-project-container h2 {
  font-weight: bold;
  font-size: 28px;
  color: var(--websiteBlueToWhite);
  font-family: var(--websiteH1);
  line-height: 1.4;
  margin-bottom: 15px;
}

.website-project-container section,
.website-project-container footer {
  padding: 70px 5%;
}

.website-project-container span {
  line-height: 1.4;
}

.website-project-container button,
.website-project-container .link {
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.website-project-container button {
  background-color: #6eab1f;
  padding: 12px 18px;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  padding: 20px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.website-project-container button:hover {
  background-color: #6eab1fd7;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 18px;
  height: 100px;
  z-index: 1;
}

nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  width: 100%;
}

nav .nav-link-container {
  padding-top: 10px;
}

nav .link {
  margin: 0 0 0 40px;
}

nav .link:hover {
  color: rgba(255, 255, 255, 0.85);
}

nav img {
  height: 50px;
}

nav .mobile-nav-icon-btn {
  color: white;
  display: none;
}

#section1 {
  position: relative;
  width: 100%;
  min-height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("https://digitalmarketing.blob.core.windows.net/8981/images/items/image565981.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

#section1 .text-content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1 .text-content-area h1 {
  font-size: 68px;
}

#section1 .text-content-area .sub-heading {
  color: white;
  font-family: var(--h2);
  font-size: 28px;
}

#section1 .text-content-area button {
  margin-top: 30px;
}

#section1 svg {
  position: absolute;
  bottom: -1px;
  fill: var(--websiteLightGrayToBlack);
  -webkit-filter: drop-shadow(0px -9px 5px rgba(0, 20, 4, 0.25));
          filter: drop-shadow(0px -9px 5px rgba(0, 20, 4, 0.25));
  width: 100%;
  -webkit-transition: 1190ms !important;
  transition: 1190ms !important;
}

#section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

#section2 h2 {
  margin-top: 10px;
}

#section2 img {
  width: 100%;
  margin-top: 30px;
}

#section2 .text-content-area {
  max-width: 900px;
}

#section2 .text-content-area span {
  line-height: 1.4;
  color: gray;
  font-size: 18px;
}

#section3 {
  background: url("../images/chefCuttingFood.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 150px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

#section3 h2 {
  color: white !important;
}

#section3 .icon-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 45px;
}

#section3 .icon-container-wrapper .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section3 .icon-container-wrapper .icon-container svg {
  font-size: 36px;
}

#section3 .icon-container-wrapper .icon-container .text {
  margin-top: 15px;
  font-size: 16px;
}

#section4,
#section6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#section4 img,
#section6 img {
  width: 100%;
  height: initial;
  background-size: cover;
}

#section4 .verbiage,
#section6 .verbiage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 530px;
  margin: 0 auto;
}

#section4 .verbiage .list-container,
#section6 .verbiage .list-container {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#section4 .verbiage .list-container .list-item,
#section6 .verbiage .list-container .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

#section4 .verbiage .list-container .list-item .icon,
#section6 .verbiage .list-container .list-item .icon {
  width: 15px;
  margin-right: 13px;
  text-align: center;
}

#section5 {
  background: url("../images/texturedGeometricBackgroundjpg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 750px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}

#section5 .quote {
  font-size: 24px;
  line-height: 1.5em;
}

#section5 button {
  margin-top: 30px;
}

#section7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--websiteWhiteToBlack);
  text-align: center;
}

#section7 button {
  margin-top: 30px;
}

footer {
  padding-top: 50px;
  padding-bottom: 5px;
  background-color: #033857;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 900px) {
  section .list-item {
    font-size: 13px;
    text-align: center;
  }
  nav .nav-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 600ms;
    transition: 600ms;
    background-color: white;
    color: #333;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 120px 0px;
    z-index: -1;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  nav img {
    height: 45px;
  }
  nav .link {
    margin: 60px 0 0 0;
  }
  nav .mobile-nav-icon-btn {
    font-size: 28px;
    display: block !important;
  }
  #section1 .text-content-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section1 .text-content-area h1 {
    font-size: 36px;
  }
  #section1 .text-content-area .sub-heading {
    color: white;
    font-family: var(--h2);
    font-size: 20px;
  }
  #section3 .text {
    font-size: 13px !important;
  }
  #section4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #section4 .verbiage {
    margin-top: 30px;
  }
  #section5 .quote {
    font-size: 19px;
    line-height: 2em;
  }
  #section6 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #section6 .verbiage {
    margin-bottom: 30px;
  }
  #section6 .verbiage .list-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.website-mobile-nav--closed {
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}
/*# sourceMappingURL=websiteMain.css.map */