.project-btn {
	text-align: center;
	-webkit-transition: -webkit-transform 250ms;
	transition: -webkit-transform 250ms;
	transition: transform 250ms;
	transition: transform 250ms, -webkit-transform 250ms;
	cursor: pointer;
	margin-top: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 12px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: inherit;
	/* font-weight: 600; */
}
.project-btn svg {
	/* color: #243b55d1; */
	color: var(--color-icon);
	animation: Gradient 2s ease infinite;
	font-size: 16px;
}

.project-btn:hover,
.project-btn-active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	color: orange;
}

.project-btn-icon {
	width: 55px;
}

.project-btn-text {
	width: 100%;
	text-align: left;
	color: var(--color-text);
}

.project-is-active {
	-webkit-transform: scale(1.1) !important;
	transform: scale(1.1) !important;
	color: #f5a434;
}

@media only screen and (max-width: 1100px) {
	.project-btn {
		/* margin-top: 15px; */
	}

	.desktop-only-icon {
		opacity: .6;
		cursor: unset;
	}

	.desktop-only-icon:after {
		content: '';
		width: 4px;
		height: 41px;
		position: absolute;
		background-color: #a5a4a4c2;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		border-radius: 4px;
	}

	/* .project-btn-container {
		margin-top: 75px;
	} */
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
