@-webkit-keyframes 'cardSlide' {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes 'cardSlide' {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
html {
  --websitebluetowhite: #0c4e7e;
  --websitelightgraytoblack: #fcfcfc;
  --websitewhitetoblack: rgb(233, 233, 233);
  --websiteblacktowhite: #222222;
  --baseballcardbarcolor: green;
}

html[data-theme='dark'] {
  --websitebluetowhite: #4e7ea1;
  --websitelightgraytoblack: #0f0e0e;
  --websitewhitetoblack: rgb(41, 41, 41);
  --websiteblacktowhite: white;
}

.form-project-wrapper {
  height: initial;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 2fr;
  grid-template-columns: 0.8fr 2fr;
  -webkit-transition: 1s;
  transition: 1s;
}

.form-project-wrapper .form-container {
  padding: 30px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 550px;
  height: calc(100vh - var(--headerHeight));
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.form-project-wrapper .form-container .title-wrapper {
  padding-bottom: 10px;
}

.form-project-wrapper .form-container .title-wrapper h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-project-wrapper .form-container .form-row {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}

.form-project-wrapper .form-container #names-and-picture {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 180px;
      grid-template-columns: 1fr 180px;
}

.form-project-wrapper .form-container .form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 0;
  font-size: 14px;
  cursor: pointer;
}

.form-project-wrapper .form-container .form-button svg {
  margin-right: 5px;
}

.form-project-wrapper .form-container .form-button .btn-randomize {
  margin: 0 auto;
}

.form-project-wrapper .form-container .input-container {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.form-project-wrapper .form-container .input-container .player-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-end;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-project-wrapper .form-container .input-container input[type='file'] {
  display: none;
}

.form-project-wrapper .form-container .input-container .image-placeholder-wrapper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.form-project-wrapper .form-container .input-container .image-placeholder-wrapper label {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(51, 51, 51, 0.442);
  color: white;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.form-project-wrapper .form-container .input-container .image-placeholder-wrapper label:hover {
  background: rgba(51, 51, 51, 0.639);
}

.form-project-wrapper .form-container .input-container .image-placeholder {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.form-project-wrapper .form-container .label-title {
  font-size: 14px;
}

.form-project-wrapper .form-container input[type='text'] {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #dadada;
  background: white;
  margin-top: 3px;
  width: 100%;
  min-width: 200px;
  height: 35px;
}

.form-project-wrapper .form-container select {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #dadada;
  background: white;
  margin-top: 3px;
  width: 100%;
  height: 35px;
}

.form-project-wrapper .form-container .team-league-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 1fr;
  grid-template-columns: 0.7fr 1fr;
  width: 100%;
  margin-top: 10px;
}

.form-project-wrapper .form-container .team-league-container .leagues-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-project-wrapper .form-container .team-league-container select {
  margin-top: 8px;
}

.form-project-wrapper .form-container .team-league-container .leagues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-project-wrapper .form-container .team-league-container .leagues span {
  font-weight: bold;
  color: #979595;
  font-size: 14px;
  -webkit-transition: 150ms;
  transition: 150ms;
  cursor: pointer;
}

.form-project-wrapper .form-container .team-league-container .leagues .leagues-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 22px;
  padding: 15px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.form-project-wrapper .form-container .team-league-container .divisions span {
  font-weight: bold;
  color: #979595;
  font-size: 14px;
  -webkit-transition: 150ms;
  transition: 150ms;
  cursor: pointer;
}

.form-project-wrapper .form-container .team-league-container .team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
  padding: 5px;
}

.form-project-wrapper .form-container .team-league-container .team-container img {
  width: 30px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.form-project-wrapper .form-container .divisions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-project-wrapper .form-container .divisions span {
  padding: 4px 8px;
}

.form-project-wrapper .form-container #team-input-container {
  margin-bottom: 20px;
}

.baseball-card-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: minmax(260px, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  overflow-y: scroll;
  height: calc(100vh - var(--headerHeight));
  padding: 20px;
}

.baseball-card-wrapper {
  -webkit-box-shadow: 0 0px 3px 2px rgba(0, 0, 0, 0.11);
  box-shadow: 0 0px 3px 2px rgba(0, 0, 0, 0.11);
  border: 10px solid white;
  position: relative;
  height: 330px;
  width: 250px;
  background: black;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
  background-position: center;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-animation: cardSlide 500ms;
  animation: cardSlide 500ms;
  cursor: pointer;
}

.baseball-card-wrapper:after {
  content: '';
  height: 88%;
  position: absolute;
  top: -8px;
  right: 9px;
  border: 4px double white;
}

.baseball-card-wrapper img.player {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.baseball-card-wrapper .team {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 6px;
  z-index: 15;
  right: 2px;
}

.baseball-card-wrapper .team img {
  width: 90%;
}

.baseball-card-wrapper .player-name {
  width: 100%;
  height: 34px;
  padding: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color: #000;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-right: 4px solid white;
  z-index: 10;
  text-transform: uppercase;
}

.baseball-card-wrapper .player-name:before {
  content: '';
  width: 91%;
  position: absolute;
  left: -1px;
  top: -1px;
  -webkit-box-shadow: 6px -1px 3px 9px white;
  box-shadow: 6px -1px 3px 9px white;
}

.baseball-card-wrapper .player-name:after {
  content: '';
  background-color: var(--baseballCardBarColor);
  width: 91%;
  height: 9.6px;
  position: absolute;
  left: -1px;
  top: 15px;
}

.baseball-card-wrapper .player-name .last-name {
  font-weight: bold;
  font-size: 18px;
  color: #b3b3b1;
  margin-top: -10px;
  z-index: 10;
  font-family: var(--h1);
  margin-left: -2px;
}

.baseball-card-wrapper .player-name .first-name {
  font-weight: bold;
  font-size: 11.8px;
  font-family: var(--h2);
  color: white;
  letter-spacing: 2px;
  z-index: 10;
  margin-top: -2.1px;
}

.baseball-card-wrapper .name-and-position {
  position: absolute;
  right: 30px;
  bottom: 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8px;
  font-weight: bold;
}

.baseball-card-wrapper .name-and-position .position {
  margin-right: 7px;
}

.baseball-card-wrapper .name-and-position .team-name {
  padding-left: 7px;
  position: relative;
}

.baseball-card-wrapper .name-and-position .team-name:after {
  content: '';
  position: absolute;
  border-left: 1px solid black;
  left: 0;
  height: 4px;
  top: 53%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submit-container {
  background-color: var(--color-icon);
  padding: 20px 28px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.submit-container .submit {
  border: none;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: unset;
  margin-right: 8px;
}

.submit-container svg {
  font-size: 14px;
  color: white;
}

input.submit:hover {
  background: #000;
}

.league-is-active {
  background: #e8e8e8;
  border-radius: 3px;
}

@media only screen and (max-width: 900px) {
  .form-project-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .form-project-wrapper .form-container {
    height: initial;
    width: 100%;
    padding: 20px;
  }
  .form-project-wrapper .baseball-card-container {
    overflow: unset;
  }
  .player-image-container {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  input[type='text'] {
    width: auto !important;
    min-width: unset !important;
  }
  .form-project-wrapper .form-container #names-and-picture {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 130px;
        grid-template-columns: 1fr 130px;
  }
  .form-project-wrapper .form-container .input-container .image-placeholder-wrapper {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
}

.baseball-field-container {
  position: relative;
  margin: 0 auto;
}

.baseball-field-container span {
  position: absolute;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: #274fe0;
  cursor: pointer;
}

.baseball-field-container #catcher {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 25px;
}

.baseball-field-container #pitcher {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 64px;
}

.baseball-field-container #first-base {
  right: 63px;
  bottom: 62px;
}

.baseball-field-container #second-base {
  right: 70px;
  bottom: 90px;
}

.baseball-field-container #short-stop {
  left: 70px;
  bottom: 90px;
}

.baseball-field-container #third-base {
  left: 62px;
  bottom: 62px;
}

.baseball-field-container #left-field {
  left: 45px;
  top: 61px;
}

.baseball-field-container #center-field {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 40px;
}

.baseball-field-container #right-field {
  right: 45px;
  top: 61px;
}

.baseball-field-container .baseball-field {
  width: 200px;
  height: 200px;
}

.baseball-field-container .baseball-field .sand {
  fill: #d8b676;
}

.baseball-field-container .baseball-field .dark-grass {
  fill: #47842b;
}

.baseball-field-container .baseball-field .light-grass {
  fill: #558e3a;
}

.baseball-field-container .baseball-field .white {
  fill: #f1f2f2;
}

.baseball-field-container .baseball-field .base-label {
  font-size: 9px;
  fill: #000;
  font-family: SegoeUI-Bold, Segoe UI;
  font-weight: 700;
}

.baseball-field-container .baseball-field .hit {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.25px;
}

.baseball-field-container .baseball-field .red {
  fill: #dd283e;
}

.baseball-field-container .baseball-field .blue {
  fill: #274fe0;
}
/*# sourceMappingURL=formMain.css.map */