/* Section aka a row */

@import url('https://fonts.googleapis.com/css?family=Lato|Muli:400,600,700,800|Open+Sans:400,700&display=swap');
* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::selection {
	background-color: var(--color-icon);
	color: white;
}

:root {
	--body: 'Muli', sans-serif;
	--h1: 'Open Sans', sans-serif;
	--h2: 'Open Sans', sans-serif;
	--primaryColor: #192833;
	--secondaryColor: #476172;
	--headerHeight: 0px;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	--pureWhite: #fff;
	--whiteToBlack: #fcfcfc;
	--whiteToBlack1: #fcfcfc;
	--white1ToBlack1: #ebebeb;
	--white2ToBlack2: #aeaeaeb4;
	--whiteToBlack-mobile-nav: #012e4b;

	--color-headings: #0077ff;
	--color-text: #333333;
	--color-text-light: #aeaeae;
	--color-icon: #046ab4;
	--color-icon-gradient: #046bb415;
	--color-icon--opp: #f48328;
	--color-gray-lite: #aeaeaeb4;
	--color-darker-gray: #e1e0e0;
	--sideNavButton: #ebebeb;
	--nav-bottom-border: 1px solid rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] {
	--pureWhite: rgb(0, 0, 0);
	--whiteToBlack: #0f0e0e;
	--whiteToBlack1: #2c2b2b;
	--white1ToBlack1: #2c2b2b;
	--color-headings: #3694ff;
	--color-text: #f3f3f3;
	--whiteToBlack-mobile-nav: #121212;
	--color-icon: #f48328;
	--color-icon-gradient: #f484284b;
	--color-icon--opp: #046ab4;
	--sideNavButton: linear-gradient(to right, #f5af19, #f11911);
	--nav-bottom-border: 1px solid rgba(255, 255, 255, 0.109);
	--color-darker-gray: #3b3b3b;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html {
	background-color: var(--pureWhite);
}

div#root {
	display: flex;
	flex-flow: column;
	height: 100%;
}

body {
	font-family: var(--body);
	height: 100vh;
	/* padding-top: 60px; */
}
p {
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
}

h1 {
	font-family: var(--h1);
	font-weight: normal;
	/* margin-bottom: 20px; */
	font-size: 2.2em;
	line-height: 1.5em;
}

h2 {
	font-family: var(--h2);
	font-weight: 400;
}

h3 {
	font-family: var(--h1);
}

.interior-body {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	padding: 30px 4.5%;
}

@media only screen and (max-width: 600px) {
	.interior-body {
		max-width: 1400px;
		margin: 0 auto;
		/* padding-top: 12%; */
		/* padding-bottom: 12%; */
	}

	body {
		padding-top: 60px !important;
	}
}

@media only screen and (max-width: 1100px) {
}
