/* Section aka a row */

@import url('https://fonts.googleapis.com/css?family=Lato|Muli:400,600,700,800|Open+Sans:400,700&display=swap');
* {
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--body: 'Muli', sans-serif;
	--h1: 'Open Sans', sans-serif;
	--h2: 'Lato', sans-serif;
	--primaryColor: #192833;
	--secondaryColor: #476172;
	--headerHeight: 0px;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	--whiteToBlack: #fcfcfc;
	--whiteToBlack1: #fcfcfc;
	--white1ToBlack1: #ebebeb;
	--white2ToBlack2: #aeaeaeb4;
	--whiteToBlack-mobile-nav: #012e4b;

	--color-headings: #0077ff;
	--color-text: #333333;
	--color-text-light: #aeaeae;
	--color-icon: #046ab4;
	--color-icon--opp: #f48328;
	--color-gray-lite: #aeaeaeb4;
	--color-darker-gray: #e1e0e0;
	--sideNavButton: #ebebeb;
	--nav-bottom-border: 1px solid rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] {
	--whiteToBlack: #0f0e0e;
	--whiteToBlack1: #2c2b2b;
	--white1ToBlack1: #2c2b2b;
	--color-headings: #3694ff;
	--color-text: #f3f3f3;
	--whiteToBlack-mobile-nav: #121212;
	--color-icon: #f48328;
	--color-icon--opp: #046ab4;
	--sideNavButton: linear-gradient(to right, #f5af19, #f11911);
	--nav-bottom-border: 1px solid rgba(255, 255, 255, 0.2);
	--color-darker-gray: #3b3b3b;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

div#root {
	height: 100vh;
}

body {
	font-family: var(--body);
	height: 100vh;
}
p {
	font-size: 14px;
	line-height: 1.6em;
}

h1 {
	font-family: var(--h1);
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 2.2em;
	line-height: 1.5em;
}

h2 {
	font-family: var(--h2);
	font-weight: 400;
}

h3 {
	font-family: var(--h1);
}

.flex-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-col-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-col-center-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-row-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-row-center-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.interior-body {
	position: relative;
	/* padding-top: 80px; */
}
#github-icon {
	font-size: 24px;
	color: #3a3535;
	cursor: pointer;
	-webkit-transition: 300ms;
	transition: 300ms;
}
#github-icon:hover {
	font-size: 24px;
	color: #f12711;
}

@media only screen and (max-width: 600px) {
	#github-icon {
		font-size: 48px;
		color: #3a3535;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 1100px) {
}
