* {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

:root {
	--body-font: 'Work Sans', sans-serif;
	--h1-font: 'Lustria', serif;
	--h2-font: 'Montserrat', sans-serif;
	--primaryColor: #012e4b;
	--secondaryColor: #476172;
}

html {
	scroll-behavior: smooth;
	height: 100vh;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

div#root {
	height: 100vh;
}

body {
	font-family: var(--body-font);
	height: 100vh;
}

h1 {
	font-family: var(--h1-font);
	font-weight: 400;
	margin-bottom: 13px;
}

h2 {
	font-family: var(--h2-font);
	font-weight: 400;
}

h3 {
	font-family: var(--h1-font);
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.flex-col-center-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-center {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.flex-row-center-middle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.interior-body {
	padding-top: 80px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: 950ms ease-in-out;
	color: white;
}
#github-icon {
	font-size: 24px;
	color: #3a3535;
	cursor: pointer;
	transition: 300ms;
}
#github-icon:hover {
	font-size: 24px;
	color: #f12711;
}

@media only screen and (max-width: 600px) {
	#github-icon {
		font-size: 48px;
		color: #3a3535;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 1100px) {
}
