.weather-project-wrapper {
	height: 100%;
	width: 100%;
	background: #ff5f6d; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section {
	padding: 15px 5%;
}
.section-header {
	position: relative;
	height: auto;
	padding: 30px; // background: rgb(241, 241, 241); // padding: 30px 0;
	width: 100%;
	color: white;
	background: #ff5f6d; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.search-bar-wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
// Header section
// ---Chart
input {
	width: 140px;
	transition: 800ms ease;
	&::placeholder {
		color: #ffffffa7;
	}
}
// Autocomplete
.hijnLS {
	color: black;
}
// input::placeholder {
// color: #ffffff;
.main-item {
	font-size: 64px;
	font-weight: bold;
}
.current-weather-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.current-weather-wrapper,
	.current-weather-graphic-wrapper {
		width: 180px;
		display: flex;
		justify-content: center;
	}
}
.current-weather-wrapper {
	display: flex;
	flex-direction: column;
	.temperatures {
		display: flex;
		justify-content: center;
	}
	.high-low-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 18px;
		.high-temp,
		.low-temp {
			padding: 3px;
		}
	}
	.current-temperature {
		padding-right: 5px;
	}
	.current-conditions {
		text-align: center;
	}
}
.town-search-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	.current-town {
		font-size: 28px;
		font-weight: 1000;
		padding-top: 15px;
		letter-spacing: 1px;
	}
}
.weather-chart-column {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	color: #7a78787e;
	background: white; // padding: 12px 0;
}
.time-of-day,
#condition {
	padding: 15px;
}
.temperature-container {
	position: relative;
	height: 100%;
	width: 100%;
	span {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		color: var(--color-icon);
		&:after {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: var(--color-icon);
			position: absolute;
			bottom: -11px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	#morning {
		bottom: 30%;
	}
	#afternoon {
		bottom: 50%;
	}
	#evening {
		bottom: 80%;
	}
	#overnight {
		bottom: 40%;
	}
}
.section-body-container {
	// background: white;
	// padding: 15px 5%;
}
.weather-chart-container {
	width: 96%;
	position: relative;
	height: 400px; // background: #f4e4e4;
	margin: 0 auto;
}
.todays-details {
	padding-bottom: 20px;
}
// /Section 2
.card-container {
	margin: 45px auto 0;
	height: auto;
	width: 600px;
	background: #fff;
	border-radius: 8px;
	.card-title {
		color: #7a78788e;
		font-weight: bolder;
		font-weight: 1000;
	}
	.card-details-row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 30px;
	}
	.detail-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		.weather-detail__icon {
			font-size: 24px;
		}
		.weather-detail__title {
			margin: 10px 0 15px 0;
			font-weight: 600;
		}
		.weather-detail__value {
			color: #898989;
			text-transform: capitalize;
		}
	}
}
#wind-speed {
	color: var(--color-icon);
}
#humidity {
	color: rgb(83, 39, 180);
}
#weather-desc {
	color: rgb(39, 142, 180);
}
