.weather-project-wrapper {
  height: 100%;
  width: 100%;
  background: #ff5f6d;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffc371), to(#ff5f6d));
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
  padding: 15px 5%;
}

.section-header {
  position: relative;
  height: auto;
  padding: 30px;
  width: 100%;
  color: white;
  background: #ff5f6d;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffc371), to(#ff5f6d));
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

input {
  width: 140px;
  -webkit-transition: 800ms ease;
  transition: 800ms ease;
}

input::-webkit-input-placeholder {
  color: #ffffffa7;
}

input:-ms-input-placeholder {
  color: #ffffffa7;
}

input::-ms-input-placeholder {
  color: #ffffffa7;
}

input::placeholder {
  color: #ffffffa7;
}

.hijnLS {
  color: black;
}

.main-item {
  font-size: 64px;
  font-weight: bold;
}

.current-weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.current-weather-container .current-weather-wrapper,
.current-weather-container .current-weather-graphic-wrapper {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current-weather-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.current-weather-wrapper .temperatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current-weather-wrapper .high-low-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.current-weather-wrapper .high-low-container .high-temp,
.current-weather-wrapper .high-low-container .low-temp {
  padding: 3px;
}

.current-weather-wrapper .current-temperature {
  padding-right: 5px;
}

.current-weather-wrapper .current-conditions {
  text-align: center;
}

.town-search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.town-search-wrapper .current-town {
  font-size: 28px;
  font-weight: 1000;
  padding-top: 15px;
  letter-spacing: 1px;
}

.weather-chart-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #7a78787e;
  background: white;
}

.time-of-day,
#condition {
  padding: 15px;
}

.temperature-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.temperature-container span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--color-icon);
}

.temperature-container span:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-icon);
  position: absolute;
  bottom: -11px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.temperature-container #morning {
  bottom: 30%;
}

.temperature-container #afternoon {
  bottom: 50%;
}

.temperature-container #evening {
  bottom: 80%;
}

.temperature-container #overnight {
  bottom: 40%;
}

.weather-chart-container {
  width: 96%;
  position: relative;
  height: 400px;
  margin: 0 auto;
}

.todays-details {
  padding-bottom: 20px;
}

.card-container {
  margin: 45px auto 0;
  height: auto;
  width: 600px;
  background: #fff;
  border-radius: 8px;
}

.card-container .card-title {
  color: #7a78788e;
  font-weight: bolder;
  font-weight: 1000;
}

.card-container .card-details-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

.card-container .detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .detail-wrapper .weather-detail__icon {
  font-size: 24px;
}

.card-container .detail-wrapper .weather-detail__title {
  margin: 10px 0 15px 0;
  font-weight: 600;
}

.card-container .detail-wrapper .weather-detail__value {
  color: #898989;
  text-transform: capitalize;
}

#wind-speed {
  color: var(--color-icon);
}

#humidity {
  color: #5327b4;
}

#weather-desc {
  color: #278eb4;
}
/*# sourceMappingURL=weatherMain.css.map */